.container {
  display: flex;
  flex-direction: row;
  max-width: 1170px;
  margin: auto;
  position: relative;
}

.containerCollapsed {
  display: flex;
  flex-direction: row;
  margin: 5px;
  position: relative;
}

.searchIcon {
  color: #9FB3C2;
  font-family: nologis-icon-font, serif;
  font-size: 2em;
  position: absolute;
  display: block;
  left: 0;
  top: 0;
  padding: 0 20px;
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.container input {
  width: 100%;
  height: 70px;
  background: #F6FAFE;
  border: 0;
  font-size: 2em;
  font-family: OpenSans, serif;
  font-weight: 700;
  color: #385871;
  text-align: left;
  line-height: 30px;
  padding: 0 80px;
  border-radius: 5px;
}

.container input::placeholder {
  color: #9FB3C2;
}

.container input:focus {
  outline: none;
}

.filtersIcon {
  font-family: nologis-icon-font, serif;
  color: #bcbcbc;
  cursor: pointer;
  position: absolute;
  right: 0;
  padding: 0 20px;
  font-size: 2em;
}

.filtersIcon:hover {
  color: #1E1E1E;
}

.separator {
  border-right: 1px solid #eaeaea;
  margin: 0 10px;
}

.collapseIcon {
  font-family: nologis-icon-font, serif;
  color: #bcbcbc;
}
