.container {
  padding: 10px;
  display: flex;
  flex-direction: row;
  min-height: 40px;
  cursor: pointer;
  padding: 0 20px;
}

.container:hover {
  background: #F6FAFE;
}

.container span {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-family: OpenSans-Bold, sans-serif;
  font-size: 1.125em;
  color: #9FB3C2;
}



