<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Nologis - Rich Product Search Component</title>
  <style>
    body {
      background-color: #ebebed;
    }

    body, div {
      margin: 0;
      border: 0 none;
      padding: 0;
    }

  </style>
</head>
<body onload="init()">
<div id="nologis-rich-product-search" data-api-key="API_KEY_HERE"></div>
<script src="index.js" type="text/javascript"></script>
<script>
  function init() {
    window.nologisRichProductSearch.load();
  }
</script>
</body>
</html>
