@font-face {
  font-family: 'nologis-icon-font';
  src: url("../theme/fonts/nologis_icons.ttf") format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'OpenSans-Bold';
  src: url('../theme/fonts/OpenSans-Bold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

/*!**!*/
/*@import "~@nologis/ui-components/dist/theme/theme.css";*/
